@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #0c0f1b;
  position:sticky;
}

.header h1 {
  color: #154ba0;
  margin-left: 40px;
  font-size: 30px;
}

.menu a {
  color: rgb(235, 225, 225);
  margin: 10px;
  text-decoration: none;
  font-size: 14px;

}

.menu a:hover {
  color: rgb(90, 90, 90);
}

.profile img {
  border-radius: 50%;
  margin-right: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}